doctype html
html(lang='ru')
	head
		title title
		meta(charset='utf-8')
		meta(name='description', content='')
		meta(name='keyword', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='stylesheet', href='./css/style.css')
	body
		include ./_includes/_header.pug
		
		include ./_includes/_about.pug
		include ./_includes/_aboutMe.pug
		include ./_includes/_groups.pug
		include ./_includes/_gallery.pug
		include ./_includes/_reviews.pug
		include ./_includes/_afisha.pug
		include ./_includes/_contacts.pug
		
		include ./_includes/_footer.pug
		include ./_includes/_form.pug
		
		script(src='./js/libs.js')
		script(src='./js/main.js')