section(class='afisha', id='afishaId')
  .container
    .afisha-content
      .logo
        img(src="./img/logo_theatre.svg", alt="Театр танца Ольги Галинской")
      .afisha-header
        span 25 апреля 16:00
        p Дубна, ДК «Мир»

      .afisha-text
        p Московская обл., Дубна, аллея Высоцкого, 1
        p Билеты приобретайте в ДК «Мир»
