section(class='contacts', id='contactsId')
  h3(class='section-header') Контакты
  .container
    .info
      .info-block.adress
        .icon-wrapper
          span.icon-placeholder
        p Московская область, 
          br
          |Дубна, ул. Улица, 1       
      .info-block.phone
        .icon-wrapper
          span.icon-smartphone
        p +79161234567
      .info-block.mail
        .icon-wrapper 
          span.icon-mail
        p adress@mail.ru
