footer
  img(src="./img/footer.jpg", alt="", class='mobile-bg')

  .container
    .footer-inner
      .footer-left
        img(src="./img/logo_theatre.svg", alt="Театр танца Ольги")
      .footer-center
        a(href="vk.com")
          img(src="./img/vk.png", alt="vk link")
      .footer-right
        nav(class='footer-nav')
          ul
            li
              a(href="#first-screen") Главная
            li
              a(href="#aboutId") О театре
            li
              a(href="#aboutMeId") О хореографе
            li
              a(href="#groupsId") группы
            li
              a(href="#galleryId") Фото
            li
              a(href="#video") Видео
            li
              a(href="#reviewsId") Отзывы
            li
              a(href="#afishaId") Анонс
.modal-overlay#modal_overlay