section(class='groups', id='groupsId')
  h3(class='section-header') Группы
  .container
    .group-wrapper
      .group-img
        img(src="./img/junior.jpg", alt="")
      .group-desc
        h4 Младшая группа
        p Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад.
    .group-wrapper
      .group-img
        img(src="./img/junior.jpg", alt="")
      .group-desc
        h4 Старшая группа
        p Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад.
    .group-wrapper
      .group-img
        img(src="./img/junior.jpg", alt="")
      .group-desc
        h4 Младшая группа
        p Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад.
    .group-wrapper
      .group-img
        img(src="./img/junior.jpg", alt="")
      .group-desc
        h4 Старшая группа
        p Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад.
    .group-wrapper
      .group-img
        img(src="./img/junior.jpg", alt="")
      .group-desc
        h4 Младшая группа
        p Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад.

  .btn#btnOrder
    a(href="#") Записаться в группу

  .hero-img