header
  nav#nav
    ul
      li
        a(href="#first-screen", id='mainLink') Главная
      li
        a(href="#aboutId", id='theaterLink') О театре
      li
        a(href="#aboutMeId", id='aboutLink') О хореографе
      li
        a(href="#groupsId", id='groupsLink') Группы
      li
        a(href="#galleryId", id='galleryLink') Фото
      li
        a(href="#video", id='videoLink') Видео
      li
        a(href="#reviewsId", id='revLink') Отзывы
      li
        a(href="#afishaId", id='afishaLink') Анонс
      li
        a(href="#contactsId", id='contactsLink') Контакты
  .mobile-nav
    .hamburger(id="hamburger")
      span.line
      span.line
      span.line
.first-screen(id='first-screen')
  .logo
    .container
      img(src="./img/logo_theatre.svg", alt="Театр танца Ольги Галинской")
      h1 Театр танца Ольги Галинской
      h2 Танец – особый язык, который понимают люди во всем мире
  .mouse-scroll(id='mouse')
    a(href='#aboutId')
      img(src="./img/mouse.png", alt="mouse")
      br
      img(src="./img/arrow.png", alt="arrow")

