section(class='reviews', id='reviewsId')
  h3(class='section-header') Отзывы
  .container
    .owl-rev.owl-carousel.owl-theme
      .rev
        .rev-inner
          .rev-img
            img(src="./img/review/elena.jpg", alt="")
          .rev-text
            .rev-header Елена Дейнега
            p Ольга Викторовна! ОГРОМНОЕ ВАМ СПАСИБО за творчество, которое вы дарите!!! За доброту, за помощь, за внимание! За поддержку и понимание!!! До сих пор вспоминаю наши занятия с очень теплыми чувствами! 
      .rev
        .rev-inner
          .rev-img
            img(src="./img/review/kirill.jpg", alt="")
          .rev-text
            .rev-header Кирилл Олекс
            p Ольга Викторовна! Разрешите высказать Вам свое восхищение Вашим талантом педагога-хореографа и, особенно, хореографа-постановщика. В очередной раз получила большое удовольствие от Вашей фантазии. Хотелось подойти сразу после концерта, но Вы были окружены толпой поклонников и недоступны.
      .rev
        .rev-inner
          .rev-img
            img(src="./img/review/nat.jpg", alt="")
          .rev-text
            .rev-header Наталья Кривякина
            p Ольга Викторовна!! Огромное Вам спасибо! Каждый ваш концерт - событие! Что ни номер - перл! Сколько фантазии, юмора. выдумки. какие идеи, какое воплощение. Все понято и читаемо. А кто на сцене? Обыкновенные дети и обыкновенные взрослые!!! Ключевое слово, которое характеризует Ваши постановки - РАДОСТЬ! Радость у всех - у детей, родителей, артистов, зрителей. Вы щедро дарите радость людям - спасибо! Сколько труда вложено ....Вам нужны хорошие видеозаписи концертов- нужно популяризировать творчество.